<h1 mat-dialog-title>Novo Imovel</h1>
<div mat-dialog-content>
<form class="example-form" [formGroup]="imovelForm">
    
        <mat-label>Tipo de Imovel</mat-label>
        <select matInput formControlName="tipo" name="tipo">
            <option value="Casa" selected>Casa</option>
            <option value="Apartamento">Apartamento</option>
            <option value="Sala Comercial">Sala Comercial</option>
            <option value="Lote">Lote</option>
            <option value="Chacara">Chacara</option>
            <option value="Sitio">Sitio</option>
            <option value="Fazenda">Fazenda</option>
        </select>
    

    <mat-form-field class="example-full-width">
        <mat-label>Codigo do Imovel</mat-label>
        <input matInput formControlName="codigo" name="codigo">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Descricao</mat-label>
        <input matInput formControlName="descricao" name="descricao">
    </mat-form-field>

    

    <mat-form-field class="example-full-width">
        <mat-label>Nome do Vendedor</mat-label>
        <input matInput formControlName="nomeVendedor" name="nomeVendedor">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Preço</mat-label>
        <input matInput formControlName="preco" name="preco">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Url da Imagem</mat-label>
        <input matInput formControlName="imagem" name="imagem">
    </mat-form-field>
    
    <mat-label>Data</mat-label>
    <input type="date" formControlName="data" name="data">
    
</form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="salvarImovel()">Cadastrar</button>
  <button mat-button (click)="cancelar()">Cancelar</button>
</div>