form {
    margin: 12px 0 0 12px;
}

form input {
    margin-left:12px;
}

.top {
    margin-bottom: 12px;
    display: flex;
}

#exampleFormControlSelect1 {
    max-width: 130px;
}

#resultado {
    margin: 36px 0 0 12px;
}