<form action="" id="pesquisar-data">
    <div class="top">
    <select name="meses" class="form-control" id="exampleFormControlSelect1">
        <option value="janeiro">Janeiro</option>
        <option value="fevereiro">Fevereiro</option>
        <option value="marco">Março</option>
        <option value="abril">Abril</option>
        <option value="maio">Maio</option>
        <option value="junho">Junho</option>
        <option value="julho">Julho</option>
        <option value="agosto">Agosto</option>
        <option value="setembro">Setembro</option>
        <option value="outubro">Outubro</option>
        <option value="novembro">Novembro</option>
        <option value="dezembro">Dezembro</option>
    </select>   
    <input type="text" placeholder="Digite um ano">
    <input type="submit" class="btn btn-primary" value="Enviar">
    </div>
    <app-corretores></app-corretores>
</form>
<div id="resultado">
    <h2>resultado</h2>    
</div>

