<mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="https://rafaelmachadocorretor.com.br/imagens/site_modelo/202004281846021872.png" width= "100px" alt="">
      <span class="example-spacer"></span> 
      <button mat-raised-button (click)="gotoPagamento()">Pagamento</button>
      <!--
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon"  style="margin-right: 10px;">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" style="margin-right: 10px;">
        <mat-icon>bookmark</mat-icon>
      </button>
      -->
    </mat-toolbar-row>
</mat-toolbar>